<%= content_for :scripts do %>         
  <script type="text/javascript" src='/lib3D/Three/Three.js'> </script>
  <script type="text/javascript" src="/lib3D/Three/OBJLoader.js"> </script>
  <script type="text/javascript" src="/lib3D/Three/Detector.js" > </script>
  <script type="text/javascript" src="/lib3D/Three/Stats.js" > </script>
  <script type="text/javascript" src="/lib3D/3D-build.js" > </script>
  <script type="text/javascript">
    var front_mesh, back_mesh;
    var style_id, texture_id;
    var texture_file;
    var front_image = new Image();
    var front_ctx, back_ctx;
    var front_canvas, back_canvas;
    
    function changeTexture(img){
    	front_image.src = img;
    	edit_x = 0;
    	edit_y = 0;
    	edit_px = 0;
    	edit_py = 0;
    }
    
    function changeModel(obj1, obj2) {
    	scene.remove(front);
    	scene.remove(back);
    	front = new THREE.Object3D();
    	back = new THREE.Object3D();
    	
    	loadModel(front,obj1);
    	loadModel(back,obj2);
    	
    	scene.add(front);
    	scene.add(back);
    }
    
    function update_texture(file) {
      changeTexture(file);
      $('#design-texture').val(texture_id);
      show_save_button();
    }
    function update_style() {
      changeModel(front_mesh, back_mesh);
      $('#design-form').val(style_id);
      show_save_button();
    }
    
    function show_save_button() {
      $('#save-button').show();
      $('#design-title').show();
    }
  
    $(function() {
      $("#texture_image").on('change', function() {
        if ($("#texture_image").val() != "") {
          $('#new_texture span').html($("#texture_image").val());
          console.log('uploading texture');
          $('#new_texture').submit();
        } else {
          $('#new_texture span').html('Use your own photo or image');
        }
      })
      
      $("#upload-button").click(function(){
        console.log('upload clicked');
        $("#texture_image").click();
      })
      
      $('.style img').click(function() {
        $('.style .selected').removeClass('selected');
        $(this).addClass('selected');
        
        style_id = $(this).data('form-id');
        front_mesh = $(this).data('mesh-front');
        back_mesh = $(this).data('mesh-back');
        
        update_style();
      });
      
      $('.texture-option').live('click', function() {
        $('.selected-texture').removeClass('selected-texture');
        $(this).addClass('selected-texture');
        texture_file = $(this).data('img');
        
        texture_id=$(this).data('texture-id');
        update_texture(texture_file);
      });
      
      $('.recent-design').live('click', function() {
        $('.selected-design').removeClass('selected-design');
        $(this).parent().addClass('selected-design');
        front_mesh = $(this).data('mesh-front');
        back_mesh = $(this).data('mesh-back');
        texture_file = $(this).data('texture-file');
        
        if ($(this).data('form-id') != $('#design-form').val()) {
          style_id = $(this).data('form-id');
          update_texture(texture_file);
          update_style();
        } else {
          update_texture(texture_file );
        }
      });
      
      $('#save-button').click(function() {
        holder.rotation.y = 0;
        setTimeout(function() {
           
          var designrender = $('#GL')[0].toDataURL("image/png");
          $('#design-preview').val(designrender);
          $('#design-texture').val(texture_id);
          $('#design-form').val(style_id);
          var designdiv = document.createElement('div');
          designdiv.setAttribute('class', 'recent-design-group');
          var newdesign = document.createElement("img");  
          newdesign.src = designrender;
          newdesign.setAttribute('class','recent-design');
          newdesign.setAttribute('data-texture-id', texture_id);
          newdesign.setAttribute('data-texture-file', texture_file);
          newdesign.setAttribute('data-mesh-front', front_mesh);
          newdesign.setAttribute('data-mesh-back', back_mesh);
          newdesign.setAttribute('data-form-id', style_id);
          designdiv.appendChild(newdesign);
          $("#my-closet").prepend(designdiv);
        
          $("#new_design").submit();
        
        },100);
      });
      
      $('#upload-image-button').click(function(){
        console.log('uploading texture');
        $('#new_texture').submit();
      });
      
      
      $('.style img').first().addClass('selected');
      front_mesh = $('.style .selected').data('mesh-front');
      back_mesh = $('.style .selected').data('mesh-back');

      style_id = $('.style .selected').data('form-id');
      
      texture_file = $($('.texture-option')[0]).data('img');
      texture_id = $($('.texture-option')[0]).data('texture-id');
      
      init3DBuild(front_mesh, back_mesh, texture_file);
      $('#design-form').val(style_id);
      changeTexture(texture_file);
      
      front_image.onload = function() {
        front_ctx.drawImage(front_image, 0,0);
        back_ctx.drawImage(front_image, 0,0);
        loadModelCanvas(front, front_canvas);
        loadModelCanvas(back, back_canvas);
      }
      
      front_canvas = document.getElementById('front-texture')
      front_ctx = front_canvas.getContext('2d');
      back_canvas = document.getElementById('back-texture')
      back_ctx = back_canvas.getContext('2d');
      
      edit_dx = getPositionLeft(front_canvas) - 5;
  		edit_dy = getPositionTop(front_canvas) - 5;
      
      document.onmousedown = function() {
        mousePressed = true;
      }
      document.onmouseup = function() {
        mousePressed = false;
      }

      front_canvas.onmousedown = function (evt) {
        edit_x = evt.pageX - edit_dx;
    		edit_y = evt.pageY - edit_dy;
    		
        evt.preventDefault();
        evt.stopPropagation();
        front_canvas.style.cursor = 'move';
        
        mousePressed = true;
      }

      front_canvas.onmousemove = function (e) {
       
        if (mousePressed) {
          edit_px = edit_x;
      		edit_py = edit_y;
          
          edit_x = e.pageX - edit_dx;
      		edit_y = e.pageY - edit_dy;
      	
      		front_x = front_x + (edit_x - edit_px);
      		front_y = front_y + (edit_y - edit_py);

      		front_ctx.clearRect(0,0,front_canvas.width, front_canvas.height);
      		fillWhite(front_canvas);
      		front_ctx.drawImage(front_image, front_x,front_y);
      		
      		loadModelCanvas(front, front_canvas);
        }
      }
      
      back_canvas.onmousedown = function (evt) {
        edit_dx = getPositionLeft(back_canvas) - 5;
    		edit_dy = getPositionTop(back_canvas) - 5;
        
        edit_x = evt.pageX - edit_dx;
    		edit_y = evt.pageY - edit_dy;
    		
        evt.preventDefault();
        evt.stopPropagation();
        back_canvas.style.cursor = 'move';
        
        mousePressed = true;
      }

      back_canvas.onmousemove = function (e) {
       
        if (mousePressed) {
          edit_px = edit_x;
      		edit_py = edit_y;
          
          edit_x = e.pageX - edit_dx;
      		edit_y = e.pageY - edit_dy;
      	
      		back_x = back_x + (edit_x - edit_px);
      		back_y = back_y + (edit_y - edit_py);

      		back_ctx.clearRect(0,0,back_canvas.width, back_canvas.height);
      		fillWhite(back_canvas);
      		back_ctx.drawImage(front_image, back_x,back_y);
      		
      		loadModelCanvas(back, back_canvas);
        }
      }
      
      $('.close-button').click( function(){
        $(this).parent().hide();
      })
      
      $('#edit-button').click( function(){
        $('#editor').show();
      })
      
      $('#toggle-front').click( function(){
        console.log('edit-front');
        $('#front-texture').css('z-index', 5);
        $('#back-texture').css('z-index', 4);
      })
      $('#toggle-back').click( function(){
        $('#front-texture').css('z-index', 4);
        $('#back-texture').css('z-index', 5);
      })
      
    });
    
    
    var edit_dx=0, edit_dy=0, edit_x=0, edit_y=0, edit_px=0, edit_py=0;
    var front_x=0, front_y=0, back_x=0, back_y=0;
    var mousePressed = false;
    
    function fillWhite(canvas) {
      var ctx = canvas.getContext('2d');
      ctx.beginPath();
  		ctx.rect(0,0, canvas.width, canvas.height);
  		ctx.fillStyle = 'white';
      ctx.fill();
    }
   
  </script>
<% end %>
<div id="my-closet">
</div>

<div >
  
  <div class="triangle-box"><span class="triangle-black"></span><h3>Constrvct A Look</h3></div>
  <div id="main-design">
    <div id="render-container">
    </div>
  </div>
  
<div style="width: 420px; height:800px; float: left;position:relative; margin-left: 100px;">  
  <div id="style-picker">
    <h3 class="section-heading">Select Style</h3>
    <% Form.all.each do |style| %>
      <div class="style">
        <%= image_tag style.icon.url(:icon100), :'data-mesh-front' => style.front_mesh.url, :'data-mesh-back' => style.back_mesh.url, :'data-form-id' => style.id %>
      </div>
    <% end %>
  </div>
  
  <div id="artwork">
    <h3 class="section-heading">Add Artwork</h3>
    
    <%= form_for Texture.new, :remote => true, :id => 'texture-upload' do |f| %>
        <a class="button" id="upload-button"> Upload </a>
        <span>Use your own photo or image</span>
        <%= f.file_field :image, :style => 'display:none' %>
        <br />
        <a class="button" id="upload-image-button" style="display:none;"> Upload Image </a>
        
      <% end %>
      <a class="button" id="edit-button" > Edit </a>
      
    <div id="available-artwork">
      <div id="texture-picker">
      <% @textures.each do |texture| %>
          <%= image_tag texture.image.url(:thumb), :'data-texture-id' => texture.id, :'data-img' => texture.image.url(:v512), :class=>"texture-option" %>
      <% end %>
      </div>
    </div>
  </div>
  
  <div id="save-design">
  <%= form_for Design.new, :remote => true, :id => 'design-save' do |f| %>
    <%= f.hidden_field :texture_id, :id => 'design-texture' %>
    <%= f.hidden_field :form_id, :id => 'design-form' %>
    <%= f.hidden_field :image_data, :id => 'design-preview' %>
    <!--
    <%= f.submit 'Save this design!', :id => 'save-button', :style => 'display:none' %>
    -->
    <a id="save-button"><span class="circle"></span> Save Your Look </a>
    
    <div id="design-title-block">
      <label class="section-heading" style="display:table;">Title</label>
    <%= f.text_field :title, :placeholder => 'Title Your Look' %>
    </div>
  <% end %>
  </div>
  
  </div>
  
  <div id="editor">
    <a class="close-button">close</a>
    <a class="button" id="toggle-front">front</a>
    <a class="button" id="toggle-back">back</a>
    <span>drag to position image</span>
    <div id="canvas-container">
      <canvas id="front-texture" width=512 height=512></canvas>
      <canvas id="back-texture" width=512 height=512></canvas>
    </div>
  </div>
  
  <div id="available-designs">
    <h3>Newest Constrvcts</h3>
  <div id="recent-designs">
  <% @designs.each do |design| %>
    <div class="recent-design-group">
     <%= image_tag design.preview.url(:thumb200), :width => 100, :class =>'recent-design', :'data-mesh-front' => design.form.front_mesh.url, :'data-mesh-back' => design.form.back_mesh.url, :'data-form-id' => design.form.id, :'data-texture-file' => design.texture.image.url(:v512), :'data-texture-id' => design.texture.id  %>
      <span>by <%= link_to design.user.username, design.user %></span>
    </div>  
  <% end %>
  </div>
  </div>
</div>


<style>
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

#editor {
  padding: 5px;
  border: 5px solid black;
  background: white;
  position: absolute;
  top: 10px;
  right: 50px;
  height: 550px;
  width: 542px;
  
  z-index: 3;
}

#editor canvas {
  border: 1px solid rgb(150,150,150);
  cursor: move;
  position: absolute;
  top: 30px;
  left: 20px;
}
#editor canvas:active {
  cursor: move;
}
#front-texture {
  z-index: 5;
}
#back-texture {
  z-index: 4;
}
</style>

<!--  
<script type="text/javascript" src='/assets/processingjs/processing-1.3.6.min.js'/>
<script type="application/processing" >
</script>
<canvas id="drawing" data-processing-sources="/assets/ptest.pde"  ></canvas>

<script>
 
function putDrawing() {
  var canvas = document.getElementById('drawing');
  loadCanvas(canvas); 
}
 
function stopDrawing() {
  var processing = Processing.getInstanceById('drawing');
  processing.noLoop();
}
function startDrawing() {
  var processing = Processing.getInstanceById('drawing');
  processing.loop();
}

</script>
-->