<script>
$(function() {
  $('.grid-design-group').first().css('margin-left', '242px');
});
</script>
  
  <div class="grid middle available-designs" style="margin-top: 20px;">
    <% if current_user.id == @user.id  %>  
      <div class="triangle-box"><span class="triangle-black"></span><h3 style="font-size: 17px;">My Constrvcts</h3></div>

    <% else %>
      <div class="triangle-box"><span class="triangle-black"></span><h3 style="font-size: 17px;"><%= @user.username %>'s Constrvcts</h3></div>
    <% end %>
    
    
  <% @user.designs.each do |design| %>
      <div class='grid-design-group'>
        <div class='design-unit'>
          <%= link_to design do %>
            <%= image_tag design.preview.url(:thumb200) %>
          <% end %>
          <div>
          <h5><%= design.title %></h5>  
          </div>
        </div>
      
      <% if current_user.id == @user.id  %>    
      
        <%= link_to 'x', design, :method => :delete, :class => 'close-button', :data => { :confirm => 'Are you sure you want to delete this design?' } %>
        
      <% end %>

      <% if current_admin %>  
        <div class="admin-unit">
        <%= image_tag design.form.icon.url(:icon100) %>
        <%= image_tag design.texture.image.url(:thumb) %>

        <%= link_to 'Edit', edit_design_path(design) %>
        <%= link_to 'Destroy', design, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </div>
        <% end %>

      </div>
  <% end %>
  </div>
  
  <% if current_user.id == @user.id  %> 
  <div class="grid middle" style="margin-top: 50px;">
    <h2 style="padding: 5px; background: url('/assets/diagonal-light.png');" >
      My Uploads</h2>
  <% @user.textures.each do |texture| %>
  <div class='grid-design-group' style="width:100px;height:100px;">
    <div class='design-unit'>
      <%= link_to texture do %>
        <%= image_tag texture.image.url(:thumb) %>
      <% end %>
      <!--
      <%= link_to texture.name, texture %>
      <%= link_to 'Edit', edit_texture_path(texture) %>
      <%= link_to 'Destroy', texture, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      -->
    </div>
    </div>
  <% end %>
  
  </div>
  <% end %>
  
  <% if current_admin %>
  <p>
    <%= @user.email %>
  </p>
  <% end %>