<style>
body {
  background: url('/assets/background.jpg');
  background-size: 100% ;
}
#dressform{
  position: absolute;
  top: 0px;
  left:0px;
  z-index:5;
}



</style>
<div class="middle">

<img id="dressform" src="/assets/mannequin.png" />

<div id="signup-block">

<div class="login-box">
<h1 id="logo"><img src="/assets/constrvct.png" alt="Constrvct"/></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>


  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :invite_code %><br />
  <%= f.text_field :invite_code %></div>

  
  <%= devise_error_messages! %>
  
<% end %>
  <div id="sign-up" class="circle-button"><span class="red-circle" ></span><img src="/assets/join.png" alt="Join"/></div>
  
  
</div>

<div id="constrvct-info">
  <img src="/assets/formula.png" /> 
  <p>
  Unlock your own personal fashion design studio.
  <br /><br />
  Constrvct it, wear it.
  </p>
  <h2>
  It's a <br />
  fashion <br />
  design <br />
  revolution.
  </h2>
</div>
</div>

<div id="login-block" style="display:none; width:700px;">
  <div class="login-box" >
  <h1 id="logo"><img src="/assets/constrvct.png" alt="Constrvct"/></h1>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name) , :class =>'login-form') do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me, :style =>"width:14px;" %> <span> Remember me</span></div>
    <% end -%>

    <p style="margin-left:100px; margin-top: 0px;"><%= render "devise/shared/links" %></p>
    <%= devise_error_messages! %>
    
    <div class="circle-button" id="sign-in"><span class="red-circle" style="top:-83px; margin-left:-14px;"> </span> <img src="/assets/login.png" alt="Login"/> </div>
  <% end %>
  
    
</div>
  
</div>

</div>

<p class="corner-tag" id="show-login"><span class="triangle-topright"></span><a  >Login</a></p>
<p class="corner-tag" id="show-signup" style="display: none;"><span class="triangle-topright"></span><a >Sign Up</a></p>

<script>

$('#sign-up').click(function() {
  $('#new_user').submit();
})

$('#sign-in').click(function() {
  $(this).parent().submit();
})

$('#show-login').click(function() {
  $('#signup-block').hide();
  $('#login-block').show();
  $('#show-signup').show();
  $('#show-login').hide();
})
$('#show-signup').click(function() {
  $('#login-block').hide();
  $('#signup-block').show();
  $('#show-login').show();
  $('#show-signup').hide();
})

</script>