<p id="notice"><%= notice %></p>

<p>
  <b><%= @form.name %></b>
</p>

<p>
  <%= image_tag @form.icon %>
</p>

<p>
  <b>Front Mesh:</b>
  <%= @form.front_mesh %>
  <br />
  <b>Back Mesh:</b>
  <%= @form.back_mesh %>
</p>


<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
