<!DOCTYPE html>
<html>
<head>
  <title>CONSTRVCT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  <%= yield :scripts %>
  
  <% if ENV['RAILS_ENV'] == "production" %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33239361-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
  
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
	

  <% if current_admin %>
  <div id="admin-toolbar">
    Welcome Admin.

    <%= link_to 'Forms', forms_path %>
    <%= link_to 'Textures', textures_path %>
    
    <%= link_to 'log out', destroy_admin_session_path, :method => :delete %>
    </div>
  <% end %>
 
  <% if current_user %>
  <div class="sidebar">
  <span id="logocorner"></span>
  <a href="/"><h1 id="logotype"></h1></a>
    <div class="user-nav">
      
      <%= link_to edit_user_registration_path(current_user)  do %>   
        <%= image_tag current_user.avatar.url(:medium), :class => 'profile-circle' %>
        
     
        <span class="username"><%= current_user.username %></span>
        <span>update profile</span>
      <% end %>
    </div>
  
      <div id="main-nav" >
    
        <%= link_to 'My Constrvcts', current_user %>
        <%= link_to 'Constrvct A Look', new_design_path %>
        <%= link_to 'All Constrvcts', designs_path %>
        <br />
        <br />
        <div id="registration">
            <%= link_to 'Log Out', destroy_user_session_path, :style => "margin-top: 30px;", :method=>:delete %>  
        </div>
      </div>
    </div>
  
  <div id="main-container" style="margin-left: 175px;">   
    
  <% else %>
  <div class="sidebar">
  <span id="logocorner"></span>
  <a href="/"><h1 id="logotype"></h1></a>
  
      <div id="main-nav" style="margin-top: 200px; margin-right:25px;">
        <%= link_to 'All Constrvcts', designs_path %>
        <div id="registration">
            <%= link_to 'Log In', new_user_registration_path %>  
        </div>
      </div>
  </div>
  
  <div id="main-container" style="margin-left: 175px;">   
    
  <% end %>
 
 
 
  <!--
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  -->
  
  

<%= yield %>

</div>   

</body>
</html>
